<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959560842348-aobgeb2uhua5r5qfabrb5p9o6s9f3u0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959560842348-aobgeb2uhua5r5qfabrb5p9o6s9f3u0s</string>
	<key>API_KEY</key>
	<string>AIzaSyCNWaOZg2m7I4U0hhMuQpnlhqqSDj0MMt4</string>
	<key>GCM_SENDER_ID</key>
	<string>959560842348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ManyFest.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-b7f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b7f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959560842348:ios:44a60b3387b556f542ec49</string>
</dict>
</plist>